<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subdomain A</title>
</head>
<body>
  <h1>Subdomain A</h1>

  <p>Fetching data from Subdomain A...</p>
  <div id="resulta">Waiting for response...</div>

  <p>Fetching data from Subdomain B...</p>
  <div id="resultb">Waiting for response...</div>

  <p>Fetching data from Rootdomain B...</p>
  <div id="resultc">Waiting for response...</div>

  <!-- Include the JavaScript file -->
  <script src="http://subdomain.rootdomainb.com:5002/static/request.js"></script>
</body>
</html>
